@import 'partials/_colors';

.ma-recipe-details-container {
  padding : 20px;

  .ma-map-title {
    font-size : 16px;
    font-weight : bolder;
  }

  .ma-invite-list {
    margin-top : 20px;
    margin-bottom : 20px;

    h3 {
      font-size : 16px;
      font-weight : bolder;
    }

    ul {
      padding : 0;
    }
  }
}