// Color CSS variables
$color1 : #2F2933;
$color2 : #01A2A6;
$color3 : #29D9C2;
$color4 : #BDF271;
$color5 : #2F2933;
$color6 : #2F2933;
$color7 : #FF6F69;
$color8 : #3F51B5;

// Background Color CSS variables
$backgroundColor1 : rgb(63, 81, 181);
$backgroundColor2 : rgba(255, 255, 255, 0.87);