@import "{}/client/styles/partials/_colors";
@import "{wolves:bourbon}/bourbon";

// Override Bootstrap navbar
.navbar {
  background-color: $backgroundColor1;
  border-bottom: #eee 1px solid;
  font-family : 'Muli', sans-serif;
  padding  : 8px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;

  a {
    text-decoration : none !important;
    color: $backgroundColor2 !important;

    span {
      font-size: 20px;
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  // Add button customizations
  .navbar-right.navbar-text {
    margin: 10px 0px;

    > a.span {
      color: $backgroundColor2;
    }

    a.oval-profile {
      width: 50px;
      height: 50px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

// Override Meteor Login Buttons
#login-dropdown-list.account-dialog {
  right : 14px;
  left : auto;
}

#login-buttons .login-button, .account-dialog .login-button {
  background : $color3;
  color : white;
  border : none;

  &:hover {
    background : $color4;
    color : white;
  }
}