@import '../../styles/partials/_colors';

// Override Bootstrap navbar
.navbar {
  background-color: $backgroundColor1;
  border-bottom: #eee 1px solid;
  font-family : 'Muli', sans-serif;
  padding  : 8px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;

  a {
    text-decoration : none !important;
    color: $backgroundColor2 !important;
  }

  // Add button customizations
  .navbar-right.navbar-text {
    > a.span {
      color: $backgroundColor2;
    }
  }
}

// Override Meteor Login Buttons
#login-dropdown-list.account-dialog {
  right : 14px;
  left : auto;
}

#login-buttons .login-button, .account-dialog .login-button {
  background : $color3;
  color : white;
  border : none;

  &:hover {
    background : $color4;
    color : white;
  }
}