@import '../../styles/partials/_colors';

// Override Bootstrap navbar
.navbar {
  background-color: #ffffff;
  border-bottom: #eee 1px solid;
  color : $color3;
  font-family : 'Muli', sans-serif;

  a {
    color : $color3;
    text-decoration : none !important;
  }

  // Add button customizations
  .navbar-right-container {
    float: right;

    > button {
      color: black;
    }
  }
}

// Override Meteor Login Buttons
#login-dropdown-list.account-dialog {
  right : 14px;
  left : auto;
}

#login-buttons .login-button, .account-dialog .login-button {
  background : $color3;
  color : white;
  border : none;

  &:hover {
    background : $color4;
    color : white;
  }
}