@import "{}/client/styles/partials/_colors";

.ma-add-recipe-container {
  padding : 20px;

  .title-style {
    text-align : center;
    font-size : 20px;
    font-weight : bold;
  }

  > form {
    margin-top: 15px;

    > h2 {
      text-align: center;
      margin-bottom : 20px;
    }

    button {
      float: right;
      width: 110px;
    }
  }

  .alert.alert-info {
    background : $color4;
    color : $color5;
    margin-bottom : 0;
  }
}