<div class="row" id="resetPassword">
    <div class="col-md-8">
        <h1 class="jumbotron">Build a Recipe Maker with Angular-Meteor</h1>
    </div>
    <div class="col-md-4">
        <form class="reset-form-area">
            <div class="form-group">
                <label for="loginEmail">Enter your email so we can send you a reset link</label>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <input type="text" id="loginEmail" class="form-control" name="loginEmail" placeholder="Email"
                           aria-describedby="sizing-addon2" ng-model="rpc.credentials.email" required>
                </div>
            </div>
            <button class="btn btn-primary btn-block login-button" ng-click="rpc.reset()">Reset password</button>
        </form>
        <div class="reset-link-area">
            <span><a href="/login">Login?</a></span>
        </div>
    </div>
</div>