<div class="row">
        <div class="center-block ma-recipe-name">
            <label>Recipe Title:</label>
            <p>{{name}}</p>
        </div>
        <div class="col-sm-6 border-right-line">
            <label>Recipe Ingredients:</label>
            <p class="ma-recipe-description">{{ingredients}}</p>
        </div>
        <div class="col-sm-6">
            <label>Recipe Directions:</label>
            <p class="ma-recipe-directions">{{directions}}</p>
        </div>
     <button ng-click="save()">Save</button>
     <button ng-click="reset()">Reset form</button>
     <button ui-sref="recipes">Cancel</button>
</div>