<form ng-show="$root.currentUser">
    <label>Name</label>
    <input ng-model="newRecipe.name">
    <label>Description</label>
    <input ng-model="newRecipe.description">
    <label>Public</label>
    <input type="checkbox" ng-model="newRecipe.public" />
    <button ng-click="newRecipe.owner=$root.currentUser._id; recipes.push(newRecipe)">Add Bread</button>
    <button ng-click="removeAll()">Remove All Recipes</button>
</form>
<div ng-hide="$root.currentUser || $root.loggingIn">
    Log in to create a recipe!
</div>
<ul>
    <h1>Recipes:</h1>
    <div>
        <label>Search Bread Recipes</label>
        <input type="search" ng-model="search" placeholder="Search">
    </div>
    <select ng-model="orderProperty">
        <option value="1">Ascending</option>
        <option value="-1">Descending</option>
    </select>

    <li dir-paginate="recipe in recipes | itemsPerPage: perPage" total-items="recipesCount.count">
        <a href="/recipes/{{recipe._id}}">{{recipe.name}}</a>
        <p>{{recipe.description}}</p>
        <button ng-click="remove(recipe)" ng-show="$root.currentUser && $root.currentUser._id == recipe.owner">X</button>

        <div ng-show="$root.currentUser">
            <input type="button" value="I'm going!" ng-click="rsvp(recipe._id, 'yes')">
            <input type="button" value="Maybe" ng-click="rsvp(recipe._id, 'maybe')">
            <input type="button" value="No" ng-click="rsvp(recipe._id, 'no')">
        </div>

        <div ng-hide="$root.currentUser">
            <i>Sign in to RSVP for this party.</i>
        </div>

        <div>
            Who is coming:
            Yes - {{ (recipe.rsvps | filter:{rsvp : 'yes'}).length }}
            Maybe - {{ (recipe.rsvps | filter: {rsvp:'maybe'}).length }}
            No - {{ (recipe.rsvps | filter: {rsvp:'no'}).length }}
            <div ng-repeat="rsvp in recipe.rsvps | filter : {rsvp:'yes'}">
                {{ getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
            </div>
            <div ng-repeat="rsvp in recipe.rsvps | filter : {rsvp:'maybe'}">
                {{ getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
            </div>
            <div ng-repeat="rsvp in recipe.rsvps | filter : {rsvp:'no'}">
                {{ getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
            </div>
        </div>

        <ul ng-if="!recipe.public">
            Users who did not respond:
            <li ng-repeat="invitedUser in outstandingInvitations(recipe)">
                {{ invitedUser | displayName }}
            </li>
        </ul>

        <div ng-if="recipe.public">
            Everyone is invited
        </div>

        <p><small>Posted by {{ creator(party) | displayName }}</small></p>
    </li>
</ul>
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>