<div class="row recipe-detail-container">
    <div class="center-block ma-recipe-name">
        <label>Recipe Title:</label>
        <input type="text" ng-model="name" placeholder="Enter Recipe" id="search" class="form-control" />
    </div>
    <div class="col-sm-6 border-right-line">
        <label>Recipe Ingredients:</label>
        <textarea ng-model="ingredients" class="form-control ma-recipe-description" rows="3">{{ingredients}}</textarea>
    </div>
    <div class="col-sm-6">
        <label>Recipe Directions:</label>
        <textarea ng-model="directions" class="form-control ma-recipe-directions" rows="3">{{directions}}</textarea>
    </div>
    <div class="col-sm-6 ma-cancel-button-container">
        <button class="btn btn-primary pull-left" ui-sref="recipes"><i class="fa fa-plus"></i>Cancel</button>
    </div>
    <div class="col-sm-6 ma-save-button-container">
        <button class="btn btn-primary pull-right" ng ng-click="save()"><i class="fa fa-plus"></i>Save</button>
    </div>
</div>