.login-form-area, .register-form-area, .reset-form-area {
  margin: 10px;
}

.login-link-area, .register-link-area, .reset-link-area {
  text-align: center;
}

.ma-main-container {
  .jumbotron {
    text-align: center;
  }
}